exportPattern("^[[:alpha:]]+")
importFrom("stats", "coef", "pnorm", "toeplitz")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("Matrix", "bdiag")
importFrom("MASS", "mvrnorm")
importFrom("glmnet", "cv.glmnet")
importFrom("doSNOW", "registerDoSNOW")
importFrom("foreach", "foreach","%dopar%")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster")
importFrom("R6", "R6Class")
importFrom("Rdpack","reprompt")
